
<div *ngIf="repoDetails.id" class="card-info-outline">
    <div class="card-header">
        <h2>{{ repoDetails.full_name }}</h2>
    </div>
    <div class="card-outline-primary">
        <p>{{ repoDetails.description }}</p>
    </div>
    <div class="card-footer">
        Language: {{ repoDetails.language }}
        <img  *ngIf="repoDetails.parent" class="card-img-bottom pull-right" src="{{ repoDetails.parent.owner.avatar_url }}">
    </div>
</div>
<hr>
<pre>this.repoDetails = {{ repoDetails | json }}</pre>
