<h3>Table example</h3>
<p>This is the table component!</p>
<div class="container">
    <article class="row">
        <div class="col-md-12">
            <input type='text'
            style='padding:8px;margin:15px auto;width:30%;'
            placeholder='Type to filter the name column...'
            (keyup)='updateFilter($event)'/>

            <ngx-datatable #table
                class='material'
                [columns]="columns"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="10"
                [rows]='rows'>
            </ngx-datatable>
        </div>
    </article>
</div>
